@model IEnumerable<norte.ArtshopEquipo6.Data.Model.Product>

    <div class="post">
        <h2> Lista de Obras de Arte disponibles.</h2>
        <p class="byline"> Hay un total de @Enumerable.Count(Model)  obras de arte.</p>

        @if (Request.IsAuthenticated && User.IsInRole("admin"))
        {
            <button class="byline" onclick="window.location.href='@Url.Action("Create", "Producto")'"> Nueva Obra de arte </button>
        }


        <h2 class="categories"> Obras Disponibles</h2>


        <div>
            <br />
            <table class="table">
                <tr>
                    <th width="10%">
                        Titulo
                    </th>
                    <th width="7%">
                        Desc
                    </th>
                    <th width="30%">
                        Imagen
                    </th>
                    <th width="10%">
                        Artista
                    </th>
                    <th width="10%">
                        Precio
                    </th>
                    <th width="10%">
                        Ventas
                    </th>

                    <th width="7%">
                        Calif
                    </th>
                    <th width="10%">

                    </th>
                    @if (Request.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <th width="25%">

                        </th>
                    }
                </tr>


                @foreach (var item in Model)
                {
<<<<<<< HEAD
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @*<a href=@item.Image>*@
                    <img src=@item.Image width="80" height="100" class="container-enlarge" onclick="cambiarImagen(this)" />
                    @*<a href=@item.Image class="zoom"><img id="grande" src=@item.Image /></a>*@
                    @*</a>*@
                    @*<img src=@item.Image width="80" height="100" style="align-content: flex-end" ;" />*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistId)
                </td>
                <td type="number">
                    $ @item.Price
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantitySold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgStars) ✰
                </td>
                <td>
                    Agregar
                </td>
                @if (Request.IsAuthenticated && User.IsInRole("admin"))
                {
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                    </td>
                }

            </tr>
=======
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @*<a href=@item.Image>*@
                            <img src=@item.Image width="80" height="100" class="container-enlarge" onclick="cambiarImagen(this)" />
                            @*<a href=@item.Image class="zoom"><img id="grande" src=@item.Image /></a>*@
                            @*</a>*@
                            @*<img src=@item.Image width="80" height="100" style="align-content: flex-end" ;" />*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArtistId)
                        </td>
                        <td type="number">
                            $ @item.Price
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantitySold)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvgStars) ✰
                        </td>
                        <td>
                            <a href="@Url.Action("AgergarAlCarrito", new { id = item.Id })" >Agregar Al Carrito</a>
                        </td>


                    </tr>
>>>>>>> c611a3981582b15e08c0dea20ffb4d8e4b7f1a1b
                }

            </table>



        </div>
    </div>
