@model IEnumerable<norte.ArtshopEquipo6.Data.Model.Product>



    <div class="post">
        <h2 class="title" style="padding-left:35px"> Lista de Obras de Arte disponibles.</h2>
        <p class="byline"> Hay un total de @Enumerable.Count(Model)  obras de arte.</p>

        <button class="byline" onclick="window.location.href='@Url.Action("Create", "Producto")'"> Nueva Obra de arte </button>

        <h2 class="categories"> Obras Disponibles</h2>


        <div>
            <br />
            <table class="table">
                <tr>
                    <th width="10%">
                        Titulo
                    </th>
                    <th width="10%">
                        Descripcion
                    </th>
                    <th width="30%">
                        Imagen
                    </th>
                    <th width="10%">
                        Artista
                    </th>
                    <th width="10%">
                        Precio
                    </th>
                    <th width="10%">
                        Ventas
                    </th>

                    <th width="10%">
                        Estrellas
                    </th>
                    <th width="10%">

                    </th>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @*<a href=@item.Image>*@
                            <img src=@item.Image width="80" height="100" class="container-enlarge" onclick="cambiarImagen(this)" />
                            @*<a href=@item.Image class="zoom"><img id="grande" src=@item.Image /></a>*@
                            @*</a>*@
                            @*<img src=@item.Image width="80" height="100" style="align-content: flex-end" ;" />*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArtistId)
                        </td>
                        <td type="number">
                            $ @item.Price
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantitySold)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvgStars) ✰
                        </td>
                        <td>
                            Agregar al Carrito
                        </td>


                    </tr>
                }

            </table>



        </div>





        </div>
