@model IEnumerable<norte.ArtshopEquipo6.Data.Model.Artist>

@{
    ViewBag.Title = "Index";
}


    <div class="post">
        <h2 class="title"><a href="#">Lista de Artistas</a></h2>
        <p class="byline"> Hay un total de @Enumerable.Count(Model) artistas.</p>

        <button onclick="window.location.href='@Url.Action("Create", "Artista")'"> Nuevo Artista </button>

        <h2 class="categories"> Artistas</h2>

        <div>
            <br />
            <table id="tabla" class="table">
                <tr>
                    <th width="20%">
                        Nombre
                    </th>
                    <th width="20%">
                        Apellido
                    </th>
                    <th width="17%">
                        País
                    </th>
                    <th width="15%">
                        Total Productos
                    </th>
                    <th width="25%">
                        Descripción
                    </th>

                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @item.TotalProducts
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }

            </table>



        </div>



    </div>